opencv-python
tqdm
python_speech_features
scipy
gdown
google-genai
pysubs2
boto3
fastapi[standard]
whisperx
scenedetect
scikit-learn
torch
ffmpegcv
numpy
torchvision
pandas
transformers
accelerate
datasets
pytubefix
modal